exportPattern("^[[:alpha:]]+")

importFrom(BiocParallel, bplapply, bpworkers)
importFrom(data.table, data.table)
import(IRanges)
import(Rsamtools)
import(GenomicAlignments)
import(GenomicRanges)
import(futile.logger)